<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lacf.luisadrian.vendexpress">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_big"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Singup"
            android:parentActivityName=".Login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClienteAdd"
            android:label="Volver a mis clientes"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClienteEdit"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ProductoEdit"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ComprarProductos"
            android:label="Volver al carrito"
            android:parentActivityName=".Home"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>